<?xml version="1.0" encoding="utf-8"?>

<!-- NLog Configuration - ***Ensure that you change the StorageConnectionString Property below with a value Azure Storage Connection String*** -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <add assembly="NLog.AzureStorage" />
  </extensions>
  <targets>
    <target xsi:type="AzureBlobStorageLogger"
            name="BlobStorageLogger"
            storageConnectionString="DefaultEndpointsProtocol=https;AccountName=hansungtest01;AccountKey=uUGrX3p8JJbBY/IxZ46JfYiz3MIpxVFOUxmSUaLusUQF+Hr0N6d+3cDXYCKtelSgTY/+rnrwc8s/Ae3emzeTjg==;EndpointSuffix=core.windows.net"
            storageContainerName="log"
            storageBlobName="${date:universalTime=true:format=yyyy-MM-dd}/${date:universalTime=true:format=HH}:00.txt"
            enableDebug="true" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="BlobStorageLogger" />
  </rules>
</nlog>
<!-- *end* NLog Configuration -->


