<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <variable name="logDirectory" value="D:\LOGS\HANSUNC"/>

  <targets>
    <target xsi:type="File" name="default"
            keepFileOpen="false"
            fileName="${logDirectory}\log_${shortdate}.log"
            layout="${longdate} | ${uppercase:${level}} | ${callsite} | ${message}" />
    <target xsi:type="File" name="exception"
            fileName="${logDirectory}\log_${level}_${shortdate}.log"
            layout="
----------------------------- ${uppercase:${level}} [${longdate}] -----------------------------${newline}
> Call Site : ${callsite}${newline}
> Exception Type : ${exception:format=Type}${newline}
> Exception Message : ${exception:format=Message}${newline}
> Stack Trace : ${exception:format=StackTrace}${newline}
> Additional Info : ${message}${newline} " />
  </targets>

  <rules>
    <logger name="logger" minlevel="Trace" writeTo="default" />
    <logger name="exceptionLogger" minlevel="Error" writeTo="exception" />
  </rules>

</nlog>
