@*@model HANSUNG.Core.Models.ViewModelContactList*@

@{
    ViewBag.Title = "ContactList";
}

<h2>ContactList</h2>

<div id="grid">

</div>

<script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://uicdn.toast.com/tui-grid/latest/tui-grid.css" />
<link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui.pagination/v3.3.0/tui-pagination.css" />6
<script type="text/javascript" src="https://uicdn.toast.com/tui.code-snippet/v1.5.0/tui-code-snippet.js"></script>
<script type="text/javascript" src="https://uicdn.toast.com/tui.pagination/v3.3.0/tui-pagination.js"></script>
<script src="https://uicdn.toast.com/tui-grid/latest/tui-grid.js"></script>


<script type="text/javascript">
    $(document).ready(function () {

        const dataSource = {
            api: {
                readData: {
                    url: 'https://testhansung01.azurewebsites.net/contact/getcontactlist',
                    method: 'GET',
                    initParams: { page: 1, perPage: 10 }
                }
            }
        };

        const grid = new tui.Grid({
            el: document.getElementById('grid'),
            data: dataSource,
            //pagination: { // set pagination
            //    page: 1,
            //    totalCount: 20
            //},
            scrollX: false,
            scrollY: false,
            minBodyHeight: 30,
            rowHeaders: ['rowNum'],
            pageOptions: {
                perPage: 10
            },
            columns: [
                {
                    header: 'Name',
                    name: 'FullName'
                },
                {
                    header: 'Email',
                    name: 'Email'
                }
            ]
        }); //grid


    });
</script>